.header__select-label{
    font-size: 20px;
    margin-right: 5px;
    font-weight: bold;
}


@media screen and (max-width: 535px) {
    .header__select-label {
        display: block;
        margin: 10px;
    }
  }