.header__input-btn{
    position: absolute;
    padding: 11px;
    top: 0;
    right: 14%;
    display: inline-flex;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
  
@media screen and (max-width: 374px) {
    .header__input-btn {
      right: 15px;
    }
  }